#route-buttons {
  position: absolute;
  right: 45px;
  bottom: 23px;
}

#route-save-buttons {
  position: absolute;
  right: 45px;
  bottom: 23px;
}

#route-cancel-buttons {
  position: absolute;
  left: 45px;
  bottom: 23px;
}